-r requirements.txt

bandit[toml]==1.8.6
black==25.9.0
codespell==2.4.1
flake8==7.3.0
flake8-docstrings==1.7.0
httpx==0.28.1
isort==7.0.0
pre_commit==4.3.0
prettier==0.0.7
pydocstyle==6.3.0
pylint==4.0.2
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-env==1.2.0
pytest-cov==7.0.0
tomli==2.3.0
