name: CI
run-name: "${{ github.event_name == 'workflow_dispatch' && format('CI: {0}', github.ref_name) || '' }}"

on:
    push:
        branches:
            - main
            - 'release/*'
    workflow_dispatch:
        inputs:
            build_and_push:
                description: "Build and Push Docker"
                default: false
                type: boolean
            deploy_container:
                description: "Deploy Container Instance"
                type: boolean
                required: false
            image_tag:
                description: "Docker Image Tag. A specific version/build of the image."
                type: string
                required: false
            target:
                description: "Environment to deploy to"
                required: true
                default: "dev"
                type: choice
                options:
                  - production
                  - staging
                  - dev
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

env:
  ENVIRONMENT: ${{ vars.ENVIRONMENT  }}
  LOCATION: ${{ vars.LOCATION }}
  MODEL_NAME: ${{ vars.MODEL_NAME }}
  MODEL_VERSION: ${{ vars.MODEL_VERSION }}
  KEY_VAULT_NAME: ${{ vars.KEY_VAULT_NAME }}

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code from GitHub
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r ${{ github.workspace }}/requirements_dev.txt

            - name: Lint code
              run: |
                codespell "${{ github.workspace }}"
                shellcheck -x ${{ github.workspace }}/script/*.sh

    build_and_push_docker_image:
        runs-on: ubuntu-latest
        environment: ${{ inputs.target }}
        outputs:
          image_tag: ${{ steps.build-docker-image.outputs.image_tag }}
        if: |
          !failure() && !cancelled() &&
          (
            github.event.inputs.build_and_push == 'true'
          )
        steps:
            - name: Check out code from GitHub
              uses: actions/checkout@v5

            - name: OIDC Login to Azure
              uses: azure/login@v2
              with:
                client-id: ${{ secrets.CICD_CLIENT_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

            - name: Fetch Artifact
              run: |
                ./script/devops.sh fetch_artifact \
                  --account-name "${{ vars.ARTIFACT_STORAGE_ACCOUNT }}" \
                  --account-key "${{ secrets.ARTIFACT_STORAGE_KEY }}" \

            - name: Build docker image
              id: build-docker-image
              run: |
                image_tag=$(./script/devops.sh build_image \
                  --channel dev)
                
                echo "IMAGE_TAG=${image_tag}" >> $GITHUB_ENV
                echo "image_tag=${image_tag}" >> $GITHUB_OUTPUT
              env:
                APP_INSTALLER_FILE: ${{ vars.APP_INSTALLER_FILE }}
                APP_FILE: ${{ vars.APP_FILE }}
                APP_SETUP_ARGS: ${{ vars.APP_SETUP_ARGS }}
                APP_ALIAS: ${{ vars.APP_ALIAS }}

            - name: Publish Image
              run: |
                image_tag="${{ env.IMAGE_TAG }}"

                ./script/devops.sh publish_image \
                  --tag "$image_tag" \
                  --channel dev
    
    deploy_container_instance:
        name: Deploy Container Instance
        runs-on: ubuntu-latest
        environment: ${{ inputs.target }}
        if : |
          !failure() && !cancelled() && 
          (
            github.event.inputs.deploy_container == 'true'
          )
        steps:
          - name: Check out code from GitHub
            uses: actions/checkout@v5

          - name: OIDC Login to Azure
            uses: azure/login@v2
            with:
              client-id: ${{ secrets.CICD_CLIENT_ID }}
              tenant-id: ${{ secrets.AZURE_TENANT_ID }}
              subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

          - name: Deploy Container Instance
            id: task-deploy-container
            run: |
              ./script/devops.sh deploy_container_instance \
                --tag "${{ github.event.inputs.image_tag }}"
            env:
                APP_LOG_FILE: ${{ vars.APP_LOG_FILE }}
