name: CI
run-name: "${{ github.event_name == 'workflow_dispatch' && format('CI: {0}', github.ref_name) || '' }}"

on:
    push:
        branches:
            - main
            - 'release/*'
    workflow_dispatch:
        inputs:
            build_and_push:
                description: "Build and Push Docker"
                default: false
                type: boolean
            target:
                description: "Environment to deploy to"
                required: true
                default: "dev"
                type: choice
                options:
                  - production
                  - staging
                  - dev

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code from GitHub
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r ${{ github.workspace }}/requirements_dev.txt

            - name: Lint code
              run: |
                codespell "${{ github.workspace }}"
                shellcheck -x ${{ github.workspace }}/script/*.sh

    build_and_push_docker_image:
        runs-on: ubuntu-latest
        environment: ${{ inputs.target }}
        env:
          ENVIRONMENT: ${{ vars.ENVIRONMENT  }}
          LOCATION: ${{ vars.LOCATION }}
          MODEL_NAME: ${{ vars.MODEL_NAME }}
          MODEL_VERSION: ${{ vars.MODEL_VERSION }}
          KEY_VAULT_NAME: ${{ vars.KEY_VAULT_NAME }}
        if: |
          !failure() && !cancelled() &&
          (
            github.event.inputs.build_and_push == 'true'
          )
        steps:
            - name: Check out code from GitHub
              uses: actions/checkout@v5

            - name: Fetch Artifact
              run: |
                ./script/devops.sh fetch_artifact \
                  --account-name "${{ vars.ARTIFACT_STORAGE_ACCOUNT }}" \
                  --account-key "${{ secrets.ARTIFACT_STORAGE_KEY }}" \

            - name: Build docker image
              run: |
                version=$(./script/devops.sh build_image \
                  --channel dev)
                
                echo "IMAGE_VERSION=${version}" >> $GITHUB_ENV
              env:
                APP_INSTALLER_FILE: ${{ vars.APP_INSTALLER_FILE }}
                APP_FILE: ${{ vars.APP_FILE }}
                APP_SETUP_ARGS: ${{ vars.APP_SETUP_ARGS }}
                APP_ALIAS: ${{ vars.APP_ALIAS }}
                

            # - name: Login to Azure Container Registry
            #   uses: docker/login-action@v3
            #   with:
            #     registry: ${{ vars.CONTAINER_REGISTRY_NAME }}.azurecr.io
            #     username: ${{ vars.CONTAINER_REGISTRY_USERNAME }}
            #     password: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}

            - name: Publish Image
              run: |
                version="${{ env.IMAGE_VERSION }}"

                ./script/devops.sh publish_image \
                  --version "$version" \
                  --channel dev
